# Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
ENV/

# 数据库
db.sqlite3
*.mysql  # 如果你有本地导出的 sql 文件

# 重点：忽略用户上传的媒体文件
# 我们只上传代码逻辑，不上传测试图片
media/

# 静态文件收集
staticfiles/

# 操作系统临时文件
.DS_Store
Thumbs.db

# 各种 IDE 配置
.vscode/
.idea/